/* WEBSITE TITLE */

/* comments */

/* ____FONTS____ */

@font-face {
	font-family: LatoThin;
	src: url('../font/Lato-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: LatoLight;
	src: url('../font/Lato-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: LatoRegular;
	src: url('../font/Lato-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: MolleRegular;
	src: url('../font/Molle-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: NovaSlim;
	src: url('../font/NovaSlim.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: PlayballRegular;
	src: url('../font/Playball-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;	
}

/* ____GENERAL PAGE STYLING____ */

body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: LatoRegular, verdana, sans-serif;
	font-size: 16px;
	color: rgba(110,90,90,0.8);
	line-height: 1.5;
	background: rgba(5,5,2,0.86);
}

 header, nav, section, footer, article, aside, div, p, h1, h2, h3, h4, h5, h6, ul, li, img {
	display: block;
	margin: 0px;
	padding: 0px;	
}

h1, h2, h3, h4, h5, h6, a, input, button, footer {
	text-align: center;
}

a, input, button {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: inherit;	
}

a:active, a:focus, input:active, input:focus, button:active, button:focus {
	outline: 0;
}

.wrapper, header, section, h2, h3, .item, .side_item {
	border-radius: 6px;
}

.wrapper {
	width: 96%;
	margin: 18px auto 24px auto;
	/*background: rgba(222,111,222,0.6);*/
}


/* ____HEADER STYLE____ */

header {
	overflow: hidden;
	width: 100%;
	height: 126px;
	margin: 0px auto 24px auto;
	color: rgba(255,255,222,1);
	box-shadow: 0px 0px 4px 0px rgba(255,255,222,1);
	background: rgba(35,33,33,0.8);
}

.logo_wrap {
	float: left;
	width: 252px;
	height: 126px;
	/*background: rgba(235,33,33,0.8);*/
}

.logo_wrap a {
	display: block;
	width: 96px;
	height: 96px;
	margin: 15px auto;
	border-radius: 25%;
	background: rgba(255,255,222,0.2);
}

.logo_wrap a img {
	width: 96px;
	height: 96px;
}

.main_header {
	float: left;
	width: calc(100% - 252px);
	height: 126px;
	line-height: 130px;
	font-family: PlayballRegular;
	font-size: 92px;
	font-weight: normal;
	/*background: rgba(35,233,33,0.8);*/
}


/* ____NAVIGATION____ */

/*section aside .nav_item {
	overflow: hidden;
	width: 94%;
	height: 74px;
	margin: 0px auto 0px auto;
	/background: rgba(77,77,177,0.8);*
}

nav {
	overflow: hidden;
	float: left;
	width: 74px;
	height: 74px;
	/background: rgba(35,233,33,0.4);*
}

nav li {
	width: 50px;
	height: 50px;
	margin: 12px;
}

nav li a {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: url('../img/home_button.jpg');
	background-size: cover;
}

section aside .nav_item .dash {
	float: left;
	width: calc(100% - 74px);
	height: 100px;
	*background: rgba(222,2,222,0.6);*
}*/


/* ____CONTENT STYLE____ */

section {
	overflow: hidden;
	/*background: rgba(35,33,33,0.6);*/
}

section article h2, section aside h3 {
	color: rgba(255,255,222,0.8);
	cursor: pointer;
}

section article {
	float: right;
	width: calc(100% - 252px);
	min-height: 200px;
}

section article h2 {
	height: 56px;
	margin: 0px auto 12px auto;
	line-height: 60px;
	font-family: NovaSlim;
	font-size: 32px;
	font-weight: normal;
	background: rgba(177,77,77,0.4);
}

section article .item {
	width: 98%;
	height: 200px;
	margin: 0px 0px 18px auto;
	background: rgba(177,77,77,0);
}

section aside {
	float: right;
	width: 252px;
	min-height: 200px;
}

section aside h3 {
	height: 36px;
	margin: 0px auto 6px auto;
	line-height: 40px;
	font-family: NovaSlim;
	font-size: 22px;
	font-weight: normal;
	background: rgba(77,77,177,0.8);
}

section aside .side_item {
	width: 100%;
	min-height: 155px;
	margin: 0px 0px 6px 0px;
	background: rgba(77,77,177,0.8);
}

/* ____FOOTER STYLE____ */

.main_footer {
	overflow: hidden;
	width: 100%;
	height: 30px;
	margin: 24px auto 0px auto;
}

.main_footer .footer_space {
	float: left;
	width: 252px;
	height: 30px;
	background: lime;
}

.main_footer .footer_text_wrap {
	float: right;
	width: calc(100% - 252px);
	height: 30px;
	background: skyblue;
}

.main_footer .footer_text {
	float: right;
	width: 98%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background: pink;
}




















